body {
  background-color: #f3e6e5;
}

h1 {
  text-align: center;
  color: palevioletred;
  background: rgba(216, 112, 147, 0.233);
}
a {
  text-decoration: none;
  color: black;
  padding: 15px;
}
a:hover {
  color: palevioletred;
}

p {
  padding: 20px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  line-height: 2;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  border: solid 15px rgba(216, 112, 147, 0.233);
}
.links {
  text-align: center;
}
.visited-link {
  color: palevioletred;
}
.email-link {
  color: palevioletred;
  text-decoration: underline;
  padding: 0;
}
